.Game {
  height: 100vh;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.Game-vask {
  display: flex;
}

.Game-played {
  display: flex;
}

.Game-myhand {
  display: flex;
}

.Modal {
  position: absolute;
}

.banner {
  position: absolute;
  top: 30%;
  width: 100%;
  padding: 128px;
  background: #000000c0;
  color: white;
  font-size: 22px;
  font-weight: bold;

  & button {
    border: none;
    background: transparent;
    color: inherit;
    font-size: 18px;
    margin-top: 32px;
    cursor: pointer;
  }
}
